<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>

	<link href="inc/lib/css/bootstrap.min.css" rel="stylesheet">

	<link href="inc/lib/css/nouislider.min.css" rel="stylesheet">
	<link href="inc/css/main.css" rel="stylesheet">

	<title>NBA Play by Play</title>
</head>
<body>

	<div id="app" class="container">
		<div class="jumbotron">
			<h1 class="display-3">NBA Play by Play Data Retriever</h1>
			<p class="lead">This tool lets you extract statistics for a given period of time within an NBA game. So if you want to see why a team was doing really well or reall poorly over a stretch, use this tool to find out why. It is different than the traditional post-game box score because it lets you see statistics within a time frame, whereas a box score only lets you see statistics from the whole game.</p>
			<ol>
				<li>Select a date and pick a game.</li>
				<li>Use the slider to specify a time range with a starting minute and ending minute.</li>
				<li>Click the "Get Data" button.</li>
			</ol>
		</div>

		<form>
			<div class="form-group">
				<label for="game-date-input">Select a date</label>
				<input id="game-date-input" min="2017-10-17" type="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required v-model:value="currentDate">
			</div>
			<button id="get-games-button" type="button" class="btn btn-secondary" v-on:click.prevent="getGames">Get games</button>

			<p><strong>List of Games</strong></p>
			<div id="games-list" class="">
				<game-item v-for="(gameObject, index) in gamesList" :key="index" :game="gameObject" :value="selectedGameID" v-on:input="selectedGameID = $event"></game-item>
			</div>
			<p class="text-center">Minutes</p>
			<div id="input-slider" ref="vueInputSlider" class="clearfix"></div>
		</form>

		<button id="get-data-button" type="button" class="btn btn-primary" v-on:click.prevent="getData" :disabled="!selectedGameID">Get data</button>

		<table id="table-stats" class="table table-bordered table-hover" v-if="teamAName !== undefined && teamBName !== undefined">
			<thead class="thead-light">
				<tr>
					<th>Team</th>
					<th scope="col"><abbr title="Points scored">PTS</abbr></th>
					<th scope="col"><abbr title="Field goals made">FGM</abbr></th>
					<th scope="col"><abbr title="Field goals attempted">FGA</abbr></th>
					<th scope="col"><abbr title="Two pointers made">2PM</abbr></th>
					<th scope="col"><abbr title="Two pointers attempted">2PA</abbr></th>
					<th scope="col"><abbr title="Three pointers made">3PM</abbr></th>
					<th scope="col"><abbr title="Three pointers attempted">3PA</abbr></th>
					<th scope="col"><abbr title="Free throws made">FTM</abbr></th>
					<th scope="col"><abbr title="Free throws attempted">FTA</abbr></th>
					<th scope="col"><abbr title="Rebounds">REB</abbr></th>
					<th scope="col"><abbr title="Turnovers">TOV</abbr></th>
					<th scope="col"><abbr title="Fouls">FOU</abbr></th>
					<th scope="col"><abbr title="Substitutions">SUBS</abbr></th>
				</tr>
			</thead>
			<tbody>
				<tr is="table-row" :row-data="teamA" :row-name="teamAName"></tr>
				<tr is="table-row" :row-data="teamB" :row-name="teamBName"></tr>
			</tbody>
		</table>
	</div>
	<!-- Scripts  -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="inc/lib/js/nouislider.min.js"></script>

	<script src="inc/dist/js/script-vue.js"></script>
</body>
</html>
